<footer class="footer"> 
    <br>
        <div class="r5">
            <small>&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  &copy;2020 Weather app, Inc All Rights reserved</small>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
        </div> 
</footer>