<div class="header">
		  <span><i class="fa fa-diamond"></i> nitish</span>		  
		  <a href="/chat"><i class="fa fa-comment"></i> Chat</a>
          <a href="/work"><i class="fa fa-book"></i> Work</a>
          <a href="/contact"><i class="fa fa-envelope"></i> Contact Us</a>  
          <a href="/"><i class="fa fa-home"></i> Home</a>                   

          <a href="/signup"><i class="fa fa-user-circle-o"></i> Sign up</a>
          <a href="/login"><i class="fa fa-sign-in"></i> Login</a>
</div>
